@import url("https://fonts.googleapis.com/css2?family=Thasadith&display=swap");

body {
  background-color: #212529 !important;
}

.home {
  text-align: center;
  color: white;
  font-family: "Thasadith", sans-serif;
  margin: 100px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.home img {
  display: block;
  padding: 100px;
  margin: auto;
  width: 25%;
  height: auto;
}

.searchBar {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 40%;
}

.listWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  align-items: center;
  text-align: center;
  margin: auto;
  color: white;
}

.productWrapper {
  margin: 20px;
}
.productWrapper img {
  width: 50%;
  height: auto;
}
.productWrapper p {
  text-align: center;
}

.detail {
  text-align: center;
  color: white;
}

.detail img {
  width: 300px;
}

.home button {
  margin: 15px;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 50px;
  box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px,
    rgb(204, 204, 204) 0px 0px 0px 3px;
}

.navLogo {
  width: 50px;
}

.descLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.text {
  color: black;
  text-align: left;
}

.checkbox {
  float: left;
  margin-top: 5px;
}

.agreement {
  margin-left: 25px;
}
